*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bola{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 1000px;
    height: 200px;
    border: 2px solid #DC99F3;
    border-radius: 20px;
}
.nevara{
    width: 100px;
    height: 100px;
    background-color: red;
}
.bola:nth-child(2){
    justify-content: center;
}
.bola:nth-child(3){
    justify-content: flex-end;
}